<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
  </head>
  <body>
    <h1>Table of contact links for each user</h1>
    <table border="solid">
      <tr>
        <th>Users</th>
        <th>Link</th>
      </tr>
      <tr data-th-each="contactID, status : ${contactIDs}">
        <td data-th-text="${'User ' + status.index}"></td>
        <td>
          <a data-th-href="@{'/contact/' + ${contactID}}">Link</a>
        </td>
      </tr>
    </table>
  </body>
</html>