<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Your contact details</h1>
    <div data-th-object="${user}">
      Your name:
      <p data-th-text="*{name}"></p>
      <br />
      Your email:
      <p data-th-text="*{email}"></p>
      <br />
      Your phone number:
      <p data-th-text="*{phoneNumber}"></p>
      <br />
      Your date of birth:
      <p data-th-text="*{dateOfBirth}"></p>
      <br />
      Your id:
      <p data-th-text="*{id}"></p>
      <br />
    </div>
    <a href="/">Back</a>
  </body>
</html>
